.searchInput {
  display: block;
  border-radius: 4px;
  padding: 10px 28px;
  border: none;
  background-color: #2e2e2e;
  color: #fff;
  min-width: 200px;
}

.searchInput::placeholder{
    font-size: 1rem;
}

.searchBtn {
  border: 2px solid black;
  background: #f65261;
  color: #fff;
  border-color: #f65261;
  padding: 10px 28px;
  border-radius: 4px;
  font-size: 1rem;
}

.inlineContainer {
    display: flex;
    justify-content: center;
    gap: 20px;
}
