.genreSelectUl{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.genreSelectItem{
    display: inline;
    color: #fff;
}

.genreSelectItem > button{
    border: 0;
    background-color: transparent;
    color:#fff;
    font-size: 1rem;
    cursor: pointer;
    padding-bottom: 10px;
}