.modalContainer {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.modalContent {
  width: 750px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 28px auto;
  background-color: #232323;
  padding: 20px;
  color: #fff;
}

.closeBtn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  background: none;
  border: none;
  color: #fff;
  font-size: 28px;
  cursor: pointer;
}
