.customSelect{
    position: relative;
    text-transform: uppercase;
}

.sortLabel{
    color: #fff;
}

.sortSelect{
    background-color: transparent;
    border: none;
    color: #fff;
    padding: 10px;
}

.sortSelect:focus{
    outline: none;
}